.header {
    padding: 46px 0 56px;
    border-bottom: 9px solid #000;
}

.header__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {

}

.header__nav{
    
}